VITE_API_KEY=AIzaSyB1nVb5-QpkBYLGqZQEiwIubyTjjVtjPEk
VITE_AUTH_DOMAIN=job-portal-46ab6.firebaseapp.com
VITE_PROJECT_ID=job-portal-46ab6

VITE_STORAGE_BUCKET=job-portal-46ab6.appspot.com
VITE_MESSAGING_SENDER_ID=762882032898
VITE_APP_ID=1:762882032898:web:af202a1d99dacd58102e1b